<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>USER M</h2>
        </div>
        <img src="../../../../assets/download.png" alt="GBP">        
    </div>
 
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Calorie Calculator</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Info</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Contact Me
    </a>

</mat-nav-list>