<mat-grid-list cols="2" rowHeight="800px">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>5 resistance-band arm workout moves you must try</mat-card-title>
                <mat-card-subtitle>Fitness Article</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/fitnessband.png" alt="Photo">
            <mat-card-content>
                <p>
                    A simple, stretchable and portable resistant band is enough to do some serious arms exercises at
                    home in the absence of a set of free weights.
                    The elastic band that we overlook often is easy to use and is super versatile.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    onclick="window.open('https://timesofindia.indiatimes.com/life-style/health-fitness/fitness/5-resistance-band-arm-workout-moves-you-must-try/photostory/77385337.cms')">Continue
                    Reading</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Weight loss: 5 ways to motivate yourself to the gym</mat-card-title>
                <mat-card-subtitle>Fitness Article</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/gym.png" alt="Photo">
            <mat-card-content>
                <p>
                    Have you been planning to go to the gym from tomorrow and that tomorrow never comes? If yes, you are
                    not alone.
                    You are too sluggish to get out of the bed and working out in the gym seems like a task for you.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    onclick="window.open('https://timesofindia.indiatimes.com/life-style/health-fitness/weight-loss/weight-loss-5-ways-to-motivate-yourself-to-go-to-the-gym/articleshow/69901201.cms')">Continue
                    Reading</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Weight Loss: How I went from 5 minutes to 1 hour of running</mat-card-title>
                <mat-card-subtitle>Fitness Article</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/running.png" alt="Photo">
            <mat-card-content>
                <p>
                    I had always hating running. In fact as a child I never enjoyed games that involved running but was
                    forced to participate for the sake of good health - by my parents.
                    And because I had no inclination towards anything that involved any physical exertion, naturally I
                    grew up to be a fat kid.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    onclick="window.open('https://timesofindia.indiatimes.com/life-style/health-fitness/fitness/weight-loss-how-i-went-from-5-minutes-to-1-hour-of-running/articleshow/70854271.cms')">Continue
                    Reading</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Weight loss: How much should you cycle every week to stay in shape?</mat-card-title>
                <mat-card-subtitle>Fitness Article</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/cycling.png" alt="Photo">
            <mat-card-content>
                <p>
                    Cycling is not only a leisure activity but is an excellent form of aerobic exercise.
                    Whether you want to stay healthy, lose weight or tone muscle, cycling is the perfect option.
                    Riding a bike also boosts your mood and fuels you with energy.
                    But how much should one cycle every week to stay in shape?
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button
                    onclick="window.open('https://timesofindia.indiatimes.com/life-style/health-fitness/fitness/how-much-should-you-cycle-every-week-to-stay-in-shape/articleshow/71010669.cms')">Continue
                    Reading</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>